.dashboard2 {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.course-overview2 {
  background-color: #fff;
  padding: 40px 20px 30px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-sort2 {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-sort2 select {
  border: 1px solid #ccc;
  height: 32px;
  padding-left: 10px;
  border-radius: 4px;
  width: 150px;
  font-size: 15px;
}

.search-sort2 button,
.search-sort2 input {
  padding: 8px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 300px;
}

.courses2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.course-card2 {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.course-card2:hover {
  transform: scale(1.02);
}

.course-thumbnail2 {
  width: 80px;
  height: 80px;
  background-color: #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.course-info2 {
  flex-grow: 1;
}

.course-info2 h3 {
  font-size: 1rem;
  margin: 0;
}

.course-info2 p {
  font-size: 0.9rem;
  margin: 5px 0;
  color: #555;
}

.course-info2 span {
  font-size: 0.8rem;
  color: #888;
}
.enrllment2 {
  border-width: 0px;
  margin-right: 15px;
  border-width: 0;
}
.enrllment2 img {
  height: 20px;
  width: 20px;
  padding: 5px;
  border: 2px solid #555;
  border-radius: 50%;
}

.enrllment2 img:hover {
  height: 20px;
  width: 20px;
  padding: 5px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: white;
}
