.course-table {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 4px 10px rgba(23, 19, 143, 0.7);
  border-radius: 1cap;
  border-radius: 1cap;
  margin-top: -20px;
  height: 330px;
  overflow-y: scroll;
}

.course-table table {
  width: 95%;
  margin-left: 30px;
}

.course-table input {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  font-size: 14px;
}

.course-table h2 {
  text-align: center;
  font-family: Arial, sans-serif;
}

#submit-button {
  text-align: center;
}

.course-table button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 15%;
}

.course-table button:hover {
  background-color: #0056b3;
}

.custom-toast {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #333;
}
