.course-table {
  width: 80%;
  margin: 0 auto;
  background-color: #d4c3c3;
  box-shadow: 3px 4px 20px rgba(174, 39, 39, 0.7);
  border-radius: 1cap;
}

.course-table table {
  width: 100%;
  margin-left: 30px;
}

.course-table input {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.course-table h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  padding-top: 20px;
}

#submit-button {
  text-align: center;
}

.course-table button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 10%;
}

.course-table button:hover {
  background-color: #0056b3;
}

.custom-toast {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #333;
}
