.deleteLecturer-table {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 4px 10px rgba(23, 19, 143, 0.7);
  border-radius: 1cap;
}

.div-table {
  width: 70%;
  margin: 0 auto;
}

.deleteLecturer-table h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  padding-top: 20px;
}

.deleteLecturer-table table {
  width: 100%;
  margin-left: 30px;
}

.deleteLecturer-table input {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  font-size: 14px;
}

.deleteLecturer-table button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 20%;
}

.deleteLecturer-table button:hover {
  background-color: #0056b3;
}

#submit-button {
  text-align: center;
}


.custom-toast {
  font-size: 16px;
  padding: 15px;
  border-radius: 8px;
}
