.deleteLecturer-table {
  width: 80%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 4px 10px rgba(23, 19, 143, 0.7);
  border-radius: 1cap;
}

.div-table {
  width: 70%;
  margin: 0 auto;
}

.deleteLecturer-table h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  padding-top: 20px;
}

.deleteLecturer-table table {
  width: 100%;
  margin-left: 30px;
}

.deleteLecturer-table input {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  font-size: 14px;
}

.deleteLecturer-table button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 20%;
}

.deleteLecturer-table button:hover {
  background-color: #0056b3;
}

#submit-button {
  text-align: center;
}


.custom-toast {
  font-size: 16px;
  padding: 15px;
  border-radius: 8px;
}

.div-table select {
  width: 514px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")
    no-repeat right 6px center; /* Add custom arrow */
  padding-right: 25px;
}

.div-table select:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.div-table select option {
  padding: 5px;
}
