/* Lecturer Registration Page Styles */
.lecturer-registration {
  width: 80%;
  margin: 0 auto;
  background-color: #d4c3c3;
  box-shadow: 3px 4px 20px rgba(174, 39, 39, 0.7);
  border-radius: 1rem;
}

.div-table {
  width: 70%;
  margin: 0 auto;
}

.lecturer-registration h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  padding-top: 20px;
}

.lecturer-registration table {
  width: 100%;
  margin-left: 30px;
}

.lecturer-registration input {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  font-size: 14px;
}

.lecturer-registration button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 10%;
}

.lecturer-registration button:hover {
  background-color: #0056b3;
}

#submit-button {
  text-align: center;
}

.custom-toast {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #333;
}

.lecturer-registration input[type="text"],
.lecturer-registration input[type="password"],
.lecturer-registration input[type="file"] {
  margin-bottom: 10px;
}

.lecturer-registration input::placeholder {
  font-style: italic;
  color: #888;
}
