.body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  background-color: #ffffff;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./Images/login/pic2.png");
  background-attachment: fixed;
  background-size: cover;
}

.image-section img {
  max-width: 80%;
  height: 80%;
  transform: rotate(-5deg);
  animation: sway 3s infinite ease-in-out;
  transition: transform 0.3s ease;
}

@keyframes sway {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.form-section {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #004080;
}

.form-container {
  width: 80%;
  max-width: 450px;
  margin-right: 150px;
  margin: 0 auto;
}

#heading1 {
  margin-bottom: 20px;
  padding-bottom: 40px;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
  color: #ffffff;
  font-weight: 500;
}

.input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5cap;
  background-color: #afb8fa;
}

.input1 {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 3cap;
  background-color: #afb8fa;
}

.input1 option {
  padding: 12px;
  font-size: 15px;
  color: #ffffff;
  background-color: #afb8fa;
  transition: background-color 0.3s ease;
}

#home-button {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: #6c63ff;
  border: white solid 1px;
  border-radius: 5cap;
  cursor: pointer;
}

#home-button:hover {
  background-color: #574bdb;
}

.forgot-password {
  text-align: right;
  margin-bottom: 10px;
  padding-right: 30px;
}

.forgot-password a {
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.signup {
  text-align: center;
  margin-top: 20px;
}

.signup a {
  font-weight: bold;
  color: #6c63ff;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

.custom-toast {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #333;
}

.navbar-logo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 15px;
}
.navbar-logo h1 {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  align-items: center;
  margin-right: 10px;
}
